@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body{
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 background-color: #b8e3e9;
  color: #ff5c00;
  transform: scale(0.97);
  transform-origin: 0 0;
}
.c{
  position: relative;
  text-align: center;
  color:  #ff5c00;
}
.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-dark {
  background-color:#ff5c00;
  border: #ff5c00;
}

input:invalid {
  background-color: #dfe9e7;
}

input:valid {
  background-color: #dfe9e7;
}
textarea:valid{
  background-color: #dfe9e7;
}
.markdown{
  table {
    border-collapse: collapse;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid ff5c00;
  }

  p {
    line-height: 1.5;
  }
}
table,
td {
    border: 1px solid #ff5c00;
}

thead,
tfoot {
    background-color: #ff5c00;
    color: #dfe9e7;
}
.box {
  display: flex;
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}


.three {
  flex: 1 1 auto;
}

.button-black {
  background-color: #ff5c00;
  border-color: #ff5c00;
}

.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: #ff5c00;
}

.button-black.button-clear {
  border-color: transparent;
}
a{
  color: #ff5c00;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff5c00
}
div.horizontalgap {
  padding: 5px;
}
@media (max-width: 767px) {                  
  .content-to-hide {
     display: none;
  }
}

.yellow{
  font-size: 20px;
  color: #1d51c9
  }

.img1{
  opacity: 0.80;
  min-height: 400px;
  max-width: 100%; 
display: block; 
height: auto;
height: auto;
width: 100%;
}

table,
td {
    border: 1px solid #4f7c82;
}

thead,
tfoot {
    background-color: #4f7c82;
    color: #fff;
}

.textarea {
  height: 500px;
}
.color1 {color: #081b46;}
.color2 {color: #207bd8;}
.color3 {color: #20a7d8;}
.color4 {background-color: #fdb44b;}
.color5 {background-color: #e3efed;}
.hide{
  display:none
}
.first-color { 
	background: #00204a; 
}
	
.second-color { 
	background-color: #b8e3e9; 
}

.third-color { 
	background: #00bbf0; 
}

.fourth-color { 
	background: #fdb44b; 
}
.c{ 
  width: 100%;
  min-width: 0px;
 max-width: 1000px;
 min-height: 200px;
 max-height: 1000px;
   background-color: #b8e3e9; margin: 0 auto; }
@media only screen and (max-width: 400px) {
    .c {
      display: none;
    }
  }